SECRET_KEY = "change_this_value"

DB_NAME = chronus_db
DB_USER = postgres
DB_PASSWORD = postgres
DB_HOST = localhost
DB_PORT = 5432

# Local environment has features for testing, use "production" for Production environment
ENVIRONMENT = "local"

# Used for Cross-Origin HTTP requests
FRONTEND_BASE_URL = "http://localhost:3000"
